/* I used for this project Bootstrap and Fontawesome, because it was recommended to me by a friend of mine. It helped me to save a lot of time. I was coding in Atom.*/

body {
  margin-top: 30px;
  font-family: 'Rotice';
}

.fa-chevron-left {
  position: relative;
  top: 28px;
  left: 50px;
  font-size: 20px;
}

.whitePanelWrapper {
  text-align: center;
}

.mainHeader .hotText {
  color: #0266b3;
}

.mainHeader .recentText {
  color: grey;
}

.mainHeader .radioButtons {
  margin: 0 !important;
}

.mainHeader .questionHeader {
  font-weight: bold;
  font-size: 23px;
}

.mainHeader .fa-plus-circle {
  font-size: 23px;
  color: #0266b3;
}

.mainHeader .row {
  height: 50px;
}

.mainHeader .alignBottomText {
  margin-top: 20px;
}

.navHeader .searchButton {
  width: 100%;
  background-color: white;
  border: solid 2px #9D9898;
  border-radius: 2px;
}

.navHeader .searchInput {
  background-color: #eee;
  border: solid 1px #929292;
  border-radius: 2px;
}

.bottomContainer {
  margin-top: 20px;
  height: 1335px;
  background-color: #E8E8E8;
  border-left: 35px solid #FFE1AD;
  border-bottom: 35px solid #FFE1AD;
  border-right: 35px solid #FFE1AD;
}

.bottomContainer .container {
  width: 1140px;
  height: 1300px;
  background-color: white;
}

.ZeroRow .ZeroCol {
  border-right: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  height: 400px;
}

.FirstRow .FBleft {
  text-align: center !important;
}

.FirstRow .FirstBlue {
  background-color: #DFF3FD;
  height: 100px;
  text-align: left;
}

.FirstRow .Eva {
  color: #2770BB;
  font-size: 16px;
  position: relative;
}

.FirstRow .frame,
.SecondRow .frame {
  border-radius: 100%;
  height: 60px;
  text-align: center;
  display: inline-block;
  width: 60px;
  margin: 25px auto;
  z-index: 0;
  position: abolute;
}

.FirstRow .EvaAsk {
  color: grey;
  font-size:12px;
  margin-top: 16px;
  position: relative;
}

.FirstRow .EvaQuestion {
  color: #2770BB;
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
  position: relative;
}

.SecondRow .SecondBlue {
  background-color: #DFF3FD;
  height: 250px;
  text-align: center;
  border-right:10px solid white;
  padding: 0 !important;
  margin: 0 !important;
}

.SecondRow .columns {
  height: 250px;
  position: relative;
  text-align: center;
}

.SecondRow .grey {
  color: grey;
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: -3%;
}

.SecondRow .black {
  color: black;
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: -3%;
}

.SecondRow .No3 {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  bottom: 50%;
  left: 50%;
}

.SecondRow .aca {
  border-top: 2px solid grey;
  width: 70%;
  position: absolute;
  right: 15%;
  left: 15%;
  padding-top: 10px;
  bottom: 0%;
}

.SecondRow .Commented {
  border-top: 2px solid grey;
  width: 70%;
  position: absolute;
  right: 15%;
  left: 15%;
  padding-top: 10px;
  bottom: 0%;
}

.SecondRow .Answered {
  border-top: 2px solid black;
  width: 70%;
  position: absolute;
  right: 15%;
  left: 15%;
  padding-top: 10px;
  bottom: 0%;
}

.SecondRow .acad {
  font-family: 'arial';
  font-size: 15px;
  position: absolute;
  bottom: 0%;
  font-weight: bold;
  text-height: 50%;
  left: 0%;
  right: 0%;
}

.SecondRow .Wcircle {
  margin-top: 70px;
  position: absolute;
  z-index: 1;
  left: 0%;
  right: 0%;
}

.SecondRow .whitePanel {
  font-size: 16px;
  text-align: left;
  font-weight: bold;
  display: inline-block;
}

.SecondRow .whitePanel div {
  margin-top: 55px;
}

.SecondRow .greyField {
  background-color: #EEEEEE;
  width: 90%;
  height: 220px;
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 0%;
  z-index: 0;
}

.lastRow{
  height:100px;
  border-left:1px solid #EEEEEE;
  border-right:1px solid #EEEEEE;
}

.lastParagraph .moreQuestions {
  color: red;
  font-weight: bold;
  font-size: 16px;
  margin-top: 40px;
  margin-left: 10px;
}

.Kowalski {
  background-image: url("http://m.jumpstart.com/JumpstartNew/brands/pom/img/characters/pom-kowalski-icon.jpg");
  background-size: contain;
}

.Rico {
  background-image: url("http://m.jumpstart.com/JumpstartNew/brands/pom/img/characters/pom-rico-icon.jpg");
  background-size: contain;
}

.Skipper {
  background-image: url("http://m.jumpstart.com/JumpstartNew/brands/pom/img/characters/pom-skipper-icon.jpg");
  background-size: contain;
}

.Private {
  background-image: url("http://m.jumpstart.com/JumpstartNew/brands/pom/img/characters/pom-private-icon.jpg");
  background-size: contain;
}

.Agent {
  background-image: url("http://m.jumpstart.com/JumpstartNew/brands/pom/img/characters/pom-agent-classified-icon.jpg");
  background-size: contain;
}

.aEva {
  background-image: url("http://m.jumpstart.com/JumpstartNew/brands/pom/img/characters/pom-eva-icon.jpg");
  background-size: contain;
}

.Short {
  background-image: url("http://m.jumpstart.com/JumpstartNew/brands/pom/img/characters/pom-short-fuse-icon.jpg");
  background-size: contain;
}

@media screen and (max-width: 800px) {
  .fa-chevron-left {
    top: 10px;
    left: 30px;
  }
}
